@font-face {
  font-family: Figtree;
  src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
}

:root {
  --yellow: hsl(47, 88%, 63%);
  --gray-950: hsl(0, 0%, 7%);
  --gray-500: hsl(0, 0%, 42%);
  --white: hsl(0, 0%, 100%);
}

.text-preset-1 {
  font-size: 1.5rem;
  font-weight: 800;
}

.text-preset-2 {
  color: var(--gray-500);
  font-weight: 500;
}

.text-preset-3 {
  font-size: 0.875rem;
  font-weight: 500;

  &.bold {
    font-weight: 800;
  }
}

@media (max-width: 25.625rem) {
  .text-preset-1 {
    font-size: 1.25rem;
  }

  .text-preset-2 {
    font-size: 0.875rem;
  }

  .text-preset-3:not(.author p) {
    font-size: 0.75rem;
  }
}

body {
  font-family: Figtree;
  line-height: 1.5;
  color: var(--gray-950);
}

main {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow);
  padding: 1.5rem;
}

.card {
  background-color: var(--white);
  padding: 1.5rem;
  border-radius: 1.25rem;
  border: 0.0625rem var(--gray-950) solid;
  box-shadow: 0.5rem 0.5rem #000;
  max-width: 24rem;
  display: grid;
  gap: 1.5rem;
}

img {
  border-radius: 0.625rem;
}

.content {
  display: grid;
  justify-items: start;
  gap: 0.75rem;
}

.category {
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  background-color: var(--yellow);
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: var(--yellow);
  }
}

.author {
  display: flex;
  gap: 0.75rem;
  align-items: center;

  img {
    width: 2rem;
  }
}

.attribution {
  position: absolute;
  bottom: 0.5rem;

  font-size: 11px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
